name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: ['**']

permissions:
  contents: read

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - name: Install modules
        run: npm install

      - name: Build
        run: npm run build --if-present

      - name: Run tests
        run: npm run test --if-present
