name: Build & Deploy

on:
  push:
    branches: [ "main" ]

env:
  CI: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - name: Install modules
        run: npm install

      - name: Build
        run: npm run build

      - uses: a7ul/tar-action@v1.2.0
        with:
          command: c
          cwd: "./"
          files: |
            build/
            captain-definition
            Dockerfile.production
          outPath: deploy.tar
  
      - name: Deploy App to Caprover
        uses: caprover/deploy-from-github@v1.2.0
        with:
          server: ${{ secrets.CAPROVER_SERVER }}
          app: ${{ secrets.CAPROVER_APP }}
          token: ${{ secrets.CAPROVER_TOKEN }}